{% load i18n %}
<html>
<head>
    <title>{% block title %}{% endblock %} - Kalima</title>
</head>
<body>
<div id="nav-bar">
    <a href="{% url 'dictionary:home' %}">{% trans 'Home' %}</a> &nbsp;
    {% if user.is_authenticated %}
        {% trans 'Current User: ' %}{{ user }}&nbsp;<a href="{% url 'account_logout' %}">{% trans 'Log Out' %}</a>
    {% else %}
        <a href="{% url 'account_login' %}">{% trans 'Log In' %}</a>
    {% endif %}
    <a href="{% url 'dictionary:word.create' %}">{% trans 'Add Word' %}</a>
    <a href="{% url 'dictionary:deriver.create' %}">{% trans 'Add Deriver' %}</a>
    <form action="{% url 'dictionary:word.search' %}" method="get">
        {{ search_form.as_p }}
        <input type="submit" value="{% trans 'Search' %}">
        {% csrf_token %}
    </form>
</div>
{% block content %}{% endblock %}
</body>
</html>