{% load i18n %}
<html>
<head>
    <title>{% block title %}{% endblock %} - كلمة</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
<div id="nav-bar">
    <a href="{% url 'main:home' %}">{% trans 'Home' %}</a> &nbsp;
    {% if user.is_authenticated %}
        {% trans 'Current User: ' %}{{ user }}&nbsp;<a href="{% url 'account_logout' %}">{% trans 'Log Out' %}</a>
    {% else %}
        <a href="{% url 'account_login' %}">{% trans 'Log In' %}</a>
    {% endif %}
</div>

{% block content %}{% endblock %}

</body>
<div>
	{% block script %}{% endblock %}
</div>
</html>
