{% load i18n %}
{% load inflections %}

<table>
    <tr>
        <td>{% trans "Construct" %}</td>
        <td>{% trans "Nominative" %}</td>
        <td>{% trans "Genitive" %}</td>
        <td>{% trans "Accusative" %}</td>
    </tr>
    <tr>
        <td>{% trans "Singular" %}</td>
        <td>{% get_inflection word case="nominative" state="construct" number="singular" %}</td>
        <td>{% get_inflection word case="genitive" state="construct" number="singular" %}</td>
        <td>{% get_inflection word case="accusative" state="construct" number="singular" %}</td>
    </tr>
    <tr>
        <td>{% trans "Dual" %}</td>
        <td>{% get_inflection word case="nominative" state="construct" number="dual" %}</td>
        <td>{% get_inflection word case="genitive" state="construct" number="dual" %}</td>
        <td>{% get_inflection word case="accusative" state="construct" number="dual" %}</td>
    </tr>
    <tr>
        <td>{% trans "Plural" %}</td>
        <td>{% get_inflection word case="nominative" state="construct" number="plural" %}</td>
        <td>{% get_inflection word case="genitive" state="construct" number="plural" %}</td>
        <td>{% get_inflection word case="accusative" state="construct" number="plural" %}</td>
    </tr>
    <tr>
        <td>{% trans "Indefinite" %}</td>
        <td>{% trans "Nominative" %}</td>
        <td>{% trans "Genitive" %}</td>
        <td>{% trans "Accusative" %}</td>
    </tr>
    <tr>
        <td>{% trans "Singular" %}</td>
        <td>{% get_inflection word case="nominative" state="indefinite" number="singular" %}</td>
        <td>{% get_inflection word case="genitive" state="indefinite" number="singular" %}</td>
        <td>{% get_inflection word case="accusative" state="indefinite" number="singular" %}</td>
    </tr>
    <tr>
        <td>{% trans "Dual" %}</td>
        <td>{% get_inflection word case="nominative" state="indefinite" number="dual" %}</td>
        <td>{% get_inflection word case="genitive" state="indefinite" number="dual" %}</td>
        <td>{% get_inflection word case="accusative" state="indefinite" number="dual" %}</td>
    </tr>
    <tr>
        <td>{% trans "Plural" %}</td>
        <td>{% get_inflection word case="nominative" state="indefinite" number="plural" %}</td>
        <td>{% get_inflection word case="genitive" state="indefinite" number="plural" %}</td>
        <td>{% get_inflection word case="accusative" state="indefinite" number="plural" %}</td>
    </tr>
    <tr>
        <td>{% trans "Definite" %}</td>
        <td>{% trans "Nominative" %}</td>
        <td>{% trans "Genitive" %}</td>
        <td>{% trans "Accusative" %}</td>
    </tr>
    <tr>
        <td>{% trans "Singular" %}</td>
        <td>{% get_inflection word case="nominative" state="definite" number="singular" %}</td>
        <td>{% get_inflection word case="genitive" state="definite" number="singular" %}</td>
        <td>{% get_inflection word case="accusative" state="definite" number="singular" %}</td>
    </tr>
    <tr>
        <td>{% trans "Dual" %}</td>
        <td>{% get_inflection word case="nominative" state="definite" number="dual" %}</td>
        <td>{% get_inflection word case="genitive" state="definite" number="dual" %}</td>
        <td>{% get_inflection word case="accusative" state="definite" number="dual" %}</td>
    </tr>
    <tr>
        <td>{% trans "Plural" %}</td>
        <td>{% get_inflection word case="nominative" state="definite" number="plural" %}</td>
        <td>{% get_inflection word case="genitive" state="definite" number="plural" %}</td>
        <td>{% get_inflection word case="accusative" state="definite" number="plural" %}</td>
    </tr>
</table>