{% extends "base.html" %}

{% load i18n %}
{% load inflections %}

{% block title %}{{ word }}{% endblock %}

{% block content %}
    <h1>{{ word.get_spelling_display }}</h1>
    <table>
        <tr>
            <td>{% trans 'Arabizi' %}</td>
            <td>{{ word.get_arabizi }}</td>
        </tr>
        <tr>
            <td>{% trans "Part of Speech" %}</td>
            <td>{{ word.get_pos_display }}</td>
        </tr>
        {% if word.stem %}
            <tr>
                <td>{% trans "Stem" %}</td>
                <td><a href="{{ word.stem.get_detail_url }}">{{ word.stem.get_spelling_display }}</a></td>
            </tr>
        {% endif %}
        {% if word.pattern %}
            <tr>
                <td>{% trans "Pattern" %}</td>
                <td><a href="{{ word.pattern.get_detail_url }}">{{ word.pattern }}</a></td>
            </tr>
        {% endif %}
        <tr>
            <td>{% trans "Definition" %}</td>
            <td>{{ word.definition }}</td>
        </tr>
    </table>
    {% if word.pos == "verb" %}
        {% include "word/inflection_tables/verb_inflections.html" with word=word %}
    {% elif word.pos == "noun" %}
        {% include "word/inflection_tables/noun_inflections.html" with word=word %}
    {% elif word.pos == "adjective" %}
        {% include "word/inflection_tables/adjective_inflections.html" with word=word %}
    {% endif %}
    <div id="foot">
        {% if word.pos in 'adjective noun verb' %}
            <a href="{{ word.get_mass_inflect_url }}">{% trans 'Inflect' %}</a>
        {% endif %}
        <a href="{{ word.get_update_url }}">{% trans 'Edit' %}</a>
        <a href="{{ word.get_delete_url }}">{% trans 'Delete' %}</a>
    </div>
{% endblock %}