{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ word }}{% endblock %}

{% block content %}
    <h1>{{ word }}</h1>
    <table>
        <tr>
            <td rowspan="2">{% trans 'Transcriptions' %}</td>
            <td>{% trans 'Arabizi' %}</td>
            <td>{{ word.get_arabizi }}</td>
        </tr>
        <tr>
            <td>{% trans 'Arabish' %}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">{% trans "Part of Speech" %}</td>
            <td>{{ word.get_pos_display }}</td>
        </tr>
        {% if word.stem %}
            <tr>
                <td colspan="2">{% trans "Stem" %}</td>
                <td><a href="{{ word.stem.get_detail_url }}">{{ word.stem }}</a></td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="2">{% trans "Definition" %}</td>
            <td>{{ word.definition }}</td>
        </tr>
    </table>
    <div id="foot">
        <a href="{{ word.get_update_url }}">{% trans 'Edit' %}</a>
        <a href="{{ word.get_delete_url }}">{% trans 'Delete' %}</a>
    </div>
{% endblock %}