{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ deriver }}{% endblock %}

{% block content %}
    <h1>{{ deriver }}</h1>
    <table>
        <tr>
            <td rowspan="2">{% trans 'Origin' %}</td>
            <td>{% trans 'Part of Speech' %}</td>
            <td>{{ deriver.get_origin_pos_display }}</td>
        </tr>
        <tr>
            <td>{% trans 'Form' %}</td>
            <td>{{ deriver.get_origin_form_display }}</td>
        </tr>
        <tr>
            <td rowspan="2">{% trans 'Result' %}</td>
            <td>{% trans 'Part of Speech' %}</td>
            <td>{{ deriver.get_result_pos_display }}</td>
        </tr>
        <tr>
            <td>{% trans 'Form' %}</td>
            <td>{{ deriver.get_result_form_display }}</td>
        </tr>
    </table>
    {% if deriver.result_pos == "verb" %}
        {% include "deriver/inflecter_tables/verb_inflecters.html" with deriver=deriver %}
    {% elif deriver.result_pos == "noun" %}
        {% include "deriver/inflecter_tables/noun_inflecters.html" with deriver=deriver %}
    {% elif deriver.result_pos == "adjective" %}
        {% include "deriver/inflecter_tables/adjective_inflecters.html" with deriver=deriver %}
    {% endif %}
    <div id="foot">
        <a href="{{ deriver.get_apply_url }}">{% trans 'Apply' %}</a>
        <a href="{{ deriver.get_update_url }}">{% trans 'Edit' %}</a>
        <a href="{{ deriver.get_delete_url }}">{% trans 'Delete' %}</a>
    </div>
{% endblock %}