{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
	<div ng-app="myApp" ng-controller="loadWords">
		{% verbatim %}
		<table>
			<tr ng-repeat="word in words">
				<td>{{ word.spelling }}</td>
				<td>{{ word.pos }}</td>
				<td>{{ word.definition }}</td>
			</tr>
		</table>
		{% endverbatim %}
	</div>
{% endblock %}

{% block script %}
<script>
	var app = angular.module('myApp', []);
	app.controller('loadWords', function($scope, $http) {
		$http.get("{% url 'dictionary:word.list' %}")
			.success(function (response) {$scope.words = response;});
		});
</script>
{% endblock %}
