{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Pattern: " %}{{ pattern }}{% endblock %}

{% block content %}
<h1>{{ pattern }}</h1>
<table>
	<tr>
		<td>{% trans 'Origin Pattern' %}</td>
		<td>{{ pattern.origin_form }}</td>
	</tr>
	<tr>
		<td>{% trans 'Result Pattern' %}</td>
		<td>{{ pattern.result_form }}</td>
	</tr>
	<tr>
		<td>{% trans 'Origin Part of Speech' %}</td>
		<td>{{ pattern.get_origin_pos_display }}</td>
	</tr>
	<tr>
		<td>{% trans 'Result Part of Speech' %}</td>
		<td>{{ pattern.get_result_pos_display }}</td>
	</tr>
</table>

<table>
	<tr>
		<th colspan="3">{% trans 'Descendants' %}</th>
	</tr>
	<tr>
		<th>{% trans 'Word' %}</th>
		<th>{% trans 'Part of Speech' %}</th>
		<th>{% trans 'Definition' %}</th>
	</tr>
	{% for descendant in pattern.words.all %}
	<tr>
		<td><a href="{% url "main:word" pk=descendant.pk %}">{{ descendant }}</a></td>
		<td>{{ descendant.get_pos_display }}</td>
		<td>{{ descendant.get_definition_display }}</td>
	</tr>
	{% endfor %}
</table>

{% if user.is_superuser %}
    <a href="{% url 'main:apply_pattern' pk=pattern.pk %}">{% trans 'Apply pattern' %}</a>
    <a href="{% url 'main:edit_pattern' pk=pattern.pk %}">{% trans 'Edit pattern' %}</a>
    <a href="{% url 'main:delete_pattern' pk=pattern.pk %}">{% trans 'Delete pattern' %}</a>
{% endif %}
{% endblock %}
