{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Word: " %}{{ word }}{% endblock %}

{% block content %}
<table>
	<tr>
		<td>{% trans 'Spelling' %}</td>
		<td>{{ word.spelling }}</td>
	</tr>
	<tr>
		<td>{% trans 'Part of Speech' %}</td>
		<td>{{ word.get_pos_display }}</td>
	</tr>
	<tr>
		<td>{% trans 'Definition' %}</td>
		<td>{{ word.definition }}</td>
	</tr>
	{% if word.parent %}
	<tr>
		<td>{% trans 'Parent' %}</td>
		<td><a href="{% url 'main:word' pk=word.parent.pk %}">{{ word.parent }}</a></td>
	</tr>
	{% endif %}
</table>
<table>
	<tr>
		<th colspan="3">{% trans 'Descendants' %}</th>
	</tr>
	{% for descendant in word.derivatives.all %}
	<tr>
		<td><a href="{% url 'main:word' pk=descendant.pk %}">{{ descendant.spelling }}</a></td>
		<td>{{ descendant.pos }}</td>
		<td>{{ descendant.definition }}</td>
	</tr>
	{% empty %}
	<tr><td><i>{% trans 'None' %}</i></td></tr>
	{% endfor %}
</table>
{% if word.stem_set.all %}
<table>
	<tr>
		<th colspan="2">{% trans 'Stems' %}</th>
	</tr>
	<tr>
		<td>{% trans 'Spelling' %}</td>
		<td>{% trans 'Attributes' %}</td>
	</tr>
	{% for stem in word.stem_set.all %}
	<tr>
		<td>{{ stem }}</td>
		<td>{{ stem.attributes }}</td>{# TODO: render in human-readable (and translated) format #}
	</tr>
	{% endfor %}
{% endif %}

{% endblock %}
